
.back_ground_style
{
background: url("http://www.freeimageslive.com/galleries/workplace/office2/preview/blank_page.jpg"); 
margin-top:100px;
margin-bottom: 100px;
margin-left:0px;
margin-right:0px;
top:0;
left:0;
right:0;
width:100%;
height: 900px;
background-repeat: no-repeat;
display: block;



background-position:center;
background-size:cover;
background-origin:content-box;
}
body
{
	overflow: hidden;
}
